.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  /* grid-template-rows: auto 90px; */
  grid-template-rows: auto min-content;
}

.navbar {
  background-color: blueviolet;
  min-width: 200px;
  padding: 1em;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.content {
  background-color: aqua;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  min-height: 0;
}

.player {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: cadetblue;
}

@media only screen and (max-width: 800px) {
  .container {
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 60px min-content;
  }
  .navbar {
    width: 100%;
    padding: 0;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .content {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .player {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
