@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

.primary {
  color: rgb(102, 102, 102);
}

:root {
  --item-background: #181818;
  --item-hover-background: #181818;
  --green: #1db954;
  --green-hover: #0ea543;
}

.no-scroll-bars {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scroll-bars::-webkit-scrollbar {
  display: none;
}
